<!--The content below is only a placeholder and can be replaced.-->
<h1>Dojo Weather Forecast</h1>
<ul>
  <li> <a href="#" [routerLink]="['seattle']">Seattle WA</a> </li>
  <li> <a href="#" [routerLink]="['sanjose']">San Jose CA</a> </li>
  <li> <a href="#" [routerLink]="['burbank']">Burbank CA</a> </li>
  <li> <a href="#" [routerLink]="['dallas']">Dallas TX</a> </li>
  <li> <a href="#" [routerLink]="['dc']">Washington D.C.</a> </li>
  <li> <a href="#" [routerLink]="['chicago']">Chicago IL</a> </li>
</ul>
<router-outlet></router-outlet>
